# App
# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://subscriptionsdb_owner:9CvROl0GfdKY@ep-floral-wind-a5na46p8-pooler.us-east-2.aws.neon.tech/subscriptionsdb?sslmode=require"
